@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.title {
  align-self: center;
  padding: 1rem;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}

.school-name {
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
}

.company-name {
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
}

.detail {
  font-size: large;
  text-decoration: underline;
}

.observer-active {
  color: rgb(0, 153, 51);
  font-weight: bold;
}
.observer-active-span {
  transition-duration: 1s;
  transform: translateX(2px);
}
@media screen and (max-width: 1024px) {
  .observer-active {
    color: aquamarine;
  }
}

/* @keyframes slide {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 20%;
    width: 120%;
  }
} */
